.container {
  display: flex;
  flex-direction: column;
}

.selectHeader {
  font-size: 1.8em !important;
}

.selectDropdowns {
  color: #5bc0de !important;
  border-bottom: 1px dashed #5bc0de;
}

.selectDropdownItem {
  font-size: 0.7em !important;
}

.selectText {
  user-select: auto !important;
}

.selectButton {
  font-size: initial !important;
}
