body {
  background-color: #f9f9f9;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.ui.text.menu .item {
  color: white !important;
}
